* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1024px;
    margin: 0 auto;
    
}

.header{
    position: fixed;
    height: 80px;
    max-width: 1024px;  
    width: 100%; 
    background-color: #D8D8D8; 
}

.titulo{
    text-align: center;
}

.box{
    border: 1px solid;
    border-color: #979797;
    background-color: #D8D8D8;
}

.contenedor-grande{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;

}
.contenedor-pequeno{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.cajas-grandes{
    width: 100%;
    height: 300px;
}


.cajas-pequenas{
    width: 100%;
    height: 120px;
    margin-top: 20px;
    
}

.footer{
    max-width: 1024px;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    position: relative;
    
}

.caja-minima{
    width: 150px;
    height: 150px;
    position: absolute; 
    top: 50%;
    left: 50%;
    margin: -75px 0 0 -75px; 

}

@media(max-width:600px){

    .contenedor-grande{
        grid-template-columns: 1fr;
    }

    .contenedor-pequeno{
        grid-template-columns: 1fr;
    }
}


